body {
  margin-top: 70px;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #ffffff;
  line-height: 1.6;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.home {
  padding: 0;
  margin: 0;
  width: 110px;      
  border: solid #313c47 1px;
  font-size: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: color 0.2s ease;
}

.home a {
  color: #aaa;
  text-decoration: none;
  align-items: center;
  display: flex;
  gap: 10px;
  margin-left: 10px;
  transition: color 0.2s ease;
}

.home:hover{
  color: #eee;
  background-color: #313c47;
}

.section {
  margin-bottom: 40px;
  color: #eee;
  text-decoration: none;
  border-top: 2px solid #313c47;;
}

.section h2 {
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 20px;
  font-size: 20px;
}

.section p {
  color: #9CA3AF;
  font-size: 16px;
}

.section ul {
  list-style: none;
  padding: 0;
  text-decoration: none;
}

.section li {
  background-color: #1e1e1e;
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  text-decoration: none;
}

video {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.screenshots img {
  height: 100%;
  width: 100%;
  border: 2px solid rgb(37, 37, 37);
}

.footer {
  text-align: center;
  margin-top: 40px;
  font-size: 0.9rem;
}