@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    color:  white;   
}

.header {
    position: relative;
    position: sticky;
    top: 0;   
    left: 0;
    width: 100%;
    padding: 7px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: #2F2446;
}

.logo {
    position: relative;
    left: 120px;
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #2F2446;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.nav {
    position: relative;
    right: 30px;
}
.nav a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .25s;
}

.nav a:hover,
.nav a.active {
    color: #9E5CB4;
}

.home {
    background: url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #0F0C17;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.home-content {
    margin-left: 26%;
    max-width: 800px;
    margin-top: -13%;
}


.home-content h1 {
    position: relative;
    font-size: 63px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3 {
    position: relative;
    font-size: 33px;
    font-weight: 700;
    color: #9E5CB4;
    margin-bottom: 100px;
}



.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box a {
    left: 40%;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #9E5CB4;
    border: 2px solid #9E5CB4;
    border-radius: 8px;
    font-size: 19px;
    color: #191224;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: #9E5CB4;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #9E5CB4;
}

.btn-box a:nth-child(2):hover {
    color: #191224;    
}


.btn-box a:nth-child(2)::before {
    background: #9E5CB4;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #191224;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
    left: 1025px;
}

.home-sci a {
    position: relative;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #9E5CB4;
    border-radius: 50%;
    font-size: 20px;
    color: #9E5CB4;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    transition: .5s;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #9E5CB4;
    z-index: -1;
    transition: .5s;
} 

.home-sci a:hover {
    color: #191224;
}
.home-sci a:hover::before {
    width: 100%;
}

.about {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    background: #0F0C17;
}

.about-content {
    max-width: 550px;
    background: #0F0C17;
    font-size: 32px;
    font-weight: 700;
    line-height: 2;
    text-align: justify;
}

.about-content h2{
    font-size: 40px;
    font-weight: 700;
}

.about-content h3{
    margin-top: 40px;
    font-size: 28px;
    font-weight: 700;
}

.about-content p {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 700;
}

.about-content .p2 {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 700;
}



/* Images */
.image-container {
    margin-top: -10%;
    right: 10px;
    position: relative;
    width: 30%;
    height: 450px;
    box-shadow: 15px 15px 2px 0.2px #2F2446;
}

.home-img {
    width: 100%;
    height: 100%;
    display: block;
    opacity: 1;
    transition: .4s;
}

.home-img:hover {
    opacity: 0.7;
}

.pic {
    width: 380px;
    height: 40%;
    left: 500px;
    position: relative;
    border: #4a2d53 5px solid;
    box-shadow: 15px 15px 2px 2px #2F2446;
}
.pic img {
    width: 100%;
    height: 100%;
    display: block;
}
/* SHAPES */

.return {
    background-attachment: fixed;
    position: fixed;
    right: 2%;
    bottom: 3%;
}
.return a{
    position: relative;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    width: 70px;
    height: 70px;
    background: transparent;
    border: 2px solid #9E5CB4;
    border-radius: 50%;
    font-size: 47px;
    color: #9E5CB4;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    transition: .5s;
}

.return a:hover{
    background: #9E5CB4;
    color: #191224;
    border: 2px solid #191224;
    
}

.line {
    position: absolute;
    width: 500px;
    height: 3px;
    margin-top: -30px;
    background: #9E5CB4;
}
.line2 {
    position: absolute;
    width: 270px;
    height: 3px;
    margin-top: -30px;
    background: #9E5CB4;
}

.line3 {
    position: absolute;
    width: 400px;
    height: 3px;
    background: #9E5CB4;
}

/* KEYFRAMES ANIMATION  */
@keyframes showRight {
    100% {
        width: 0;
    }
}